@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
	<a class="weatherwidget-io" href="https://forecast7.com/en/n23d55n46d63/sao-paulo/" data-label_1="SÃO PAULO" data-label_2="WEATHER" data-theme="original">SÃO PAULO WEATHER</a>
	<script>
		!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
	</script>

	<a class="weatherwidget-io" href="https://forecast7.com/en/4d71n74d07/bogota/" data-label_1="BOGOTA" data-label_2="WEATHER" data-theme="original">BOGOTA WEATHER</a>
	<script>
		!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
	</script>

	<a class="weatherwidget-io" href="https://forecast7.com/en/n33d45n70d67/santiago/" data-label_1="SANTIAGO" data-label_2="WEATHER" data-theme="original">SANTIAGO WEATHER</a>
	<script>
		!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
	</script>

	<a class="weatherwidget-io" href="https://forecast7.com/en/n34d60n58d38/buenos-aires/" data-label_1="BUENOS AIRES" data-label_2="WEATHER" data-theme="original">BUENOS AIRES WEATHER</a>
	<script>
		!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
	</script>

	Source: <a href="https://weatherwidget.io">https://weatherwidget.io</a>
</div>
